<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title center>
      Kings Football
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 center>Escolha Seu Time!</h1>
  <ion-card [routerLink]="['/athletico-pr']">
    <ion-card-header>
      <div class="header-content">
        Athletico-PR
        <img src="assets/img/atlepr.png" alt="Athletico-PR" class="team-icon">
      </div>
    </ion-card-header>
    <ion-card-content>
      CAP
    </ion-card-content>
  </ion-card>


  <ion-card [routerLink]="['/atletico-go']">
    <ion-card-header>
      <div class="header-content">
        Atlético-GO
        <img src="assets/img/atlego.png" alt="Atlético-GO" class="team-icon">
      </div>
    </ion-card-header>
    <ion-card-content>
      ACG
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <div class="header-content">
        Atlético-MG
        <img src="assets/img/atlemg.png" alt="Atlético-MG" class="team-icon">
      </div>
    </ion-card-header>

    <ion-card-content>
      CAM
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <div class="header-content">
        Bahia
        <img src="assets/img/bahia.jpeg" alt="Bahia" class="team-icon">
      </div>
    </ion-card-header>

    <ion-card-content>
      ECB
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <div class="header-content">
        Botafogo
        <img src="assets/img/Bot.png" alt="Botafogo" class="team-icon">
      </div>
    </ion-card-header>

    <ion-card-content>
      BFR
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <div class="header-content">
        Corinthians
        <img src="assets/img/corinthians.jpeg" alt="Corinthians" class="team-icon">
      </div>
    </ion-card-header>

    <ion-card-content>
      SCCP
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <div class="header-content">
        Criciúma
        <img src="assets/img/criciuma.png" alt="Criciúma" class="team-icon">
      </div>
    </ion-card-header>

    <ion-card-content>
      CFC
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <div class="header-content">
        Cruzeiro
        <img src="assets/img/cruzeiro.png" alt="Cruzeiro" class="team-icon">
      </div>
    </ion-card-header>

    <ion-card-content>
      CEC
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <div class="header-content">
        Cuiabá
        <img src="assets/img/cuiaba.png" alt="Cuiabá" class="team-icon">
      </div>
    </ion-card-header>

    <ion-card-content>
      CUI
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <div class="header-content">
        Flamengo
        <img src="assets/img/fla.png" alt="Flamengo" class="team-icon">
      </div>
    </ion-card-header>

    <ion-card-content>
      CRF
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <div class="header-content">
        Fluminense
        <img src="assets/img/flu.png" alt="Fluminense" class="team-icon">
      </div>
    </ion-card-header>

    <ion-card-content>
      FFC
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <div class="header-content">
        Fortaleza
        <img src="assets/img/fortaleza.png" alt="Fortaleza" class="team-icon">
      </div>
    </ion-card-header>

    <ion-card-content>
      FEC
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <div class="header-content">
        Grêmio
        <img src="assets/img/gremio.jpeg" alt="Grêmio" class="team-icon">
      </div>
    </ion-card-header>

    <ion-card-content>
      FBPA
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <div class="header-content">
        Internacional
        <img src="assets/img/inter.png" alt="Internacional" class="team-icon">
      </div>
    </ion-card-header>

    <ion-card-content>
      SCI
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <div class="header-content">
        Juventude
        <img src="assets/img/juventude.png" alt="Juventude" class="team-icon">
      </div>
    </ion-card-header>

    <ion-card-content>
      ECJ
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <div class="header-content">
        Palmeiras
        <img src="assets/img/palmeiras.jpeg" alt="Palmeiras" class="team-icon">
      </div>
    </ion-card-header>

    <ion-card-content>
      SEP
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <div class="header-content">
        RB Bragantino
        <img src="assets/img/bragantino.png" alt="Bragantino" class="team-icon">
      </div>
    </ion-card-header>

    <ion-card-content>
      RBB
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <div class="header-content">
        São Paulo
        <img src="assets/img/sp.png" alt="São Paulo" class="team-icon">
      </div>
    </ion-card-header>

    <ion-card-content>
      SPFC
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <div class="header-content">
        Santos
        <img src="assets/img/santos.png" alt="Santos" class="team-icon">
      </div>
    </ion-card-header>

    <ion-card-content>
      SFC
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <div class="header-content">
        Vasco
        <img src="assets/img/Vas.jpeg" alt="Vasco" class="team-icon">
      </div>
    </ion-card-header>

    <ion-card-content>
      CRVG
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <div class="header-content">
        Vitória
        <img src="assets/img/vitoria.png" alt="Vitória" class="team-icon">
      </div>
    </ion-card-header>

    <ion-card-content>
      EVC
    </ion-card-content>
  </ion-card>
  
</ion-content>

